@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

.cart_section {
	padding-top: 100px;
	padding-bottom: 200px;
	padding-right: 400px;
	padding-left: 400px;
	font-family: 'Source Sans Pro', sans-serif;
}

.cart_section h4 {
	font-size: 26px;
	padding-bottom: 10px;
	color: rgba(0, 0, 0, 0.65);
}

.main_cart {
	padding: 175px 0;
	border-top: 1px solid rgba(0, 0, 0, 0.5);
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	width: 100%;
	text-align: center;
}

.main_cart span {
	color: rgba(0, 0, 0, 0.65);
	font-size: 28px;
}

.main_cart a {
	color: rgba(0, 0, 0, 0.65);
	font-size: 18px;
	display: block;
	padding-top: 5px;
	text-decoration: underline;
}

.main_cart a:hover {
	color: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 1440px) {
.cart_section {
	padding-right: 250px;
	padding-left: 250px;
}

}

/* Desktops and laptops -------------------- */
@media only screen and (max-width: 1224px) {


}

/* Laptop ---------------------------------- */
@media only screen and (max-width: 1024px) {

.cart_section {
	padding-right: 100px;
	padding-left: 100px;
}


}

/* Tablet ---------------------------------- */
@media only screen and (max-width: 768px) {

.cart_section {
	padding-bottom: 150px;
}

}

/* Mobile L -------------------------------- */
@media only screen and (max-width: 430px) {

.cart_section {
	padding-right: 30px;
	padding-left: 30px;
}

.main_cart {
	padding: 115px 0;
}

footer {
	margin-top: 60px;
}

}

/* Mobile M -------------------------------- */
@media only screen and (max-width: 375px) {

.cart_section {
	padding-right: 15px;
	padding-left: 15px;
}

}

/* Mobile S -------------------------------- */
@media only screen and (max-width: 320px) {

.main_cart {
	padding: 100px 0;
}

}

/* Mobile XS ------------------------------- */
@media only screen and (max-width: 240px) {


}