.section_background {
	background-image: url("../img/contacts_bg02.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;
	width: 100%;
}

.message_p {
	display: flex;
	justify-content: center;
}

/* Author: Denis Likhotin*/

@media only screen and (max-width: 768px) {
.section_background {
    height: 400px;
}

}

@media only screen and (max-width: 375px) {
.Thanks h4 {
	font-size: 32px;
}

}

@media only screen and (max-width: 375px) {
.section_background {
    height: 200px;
}

}

@media only screen and (max-width: 430px) {
.section_background {
    height: 250px;
}

}