@import url('https://fonts.googleapis.com/css?family=Comfortaa|Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

html {
	font-size: 14px;
}

body {
	background-color: #fff;
	font-family: 'Oswald', sans-serif;

}

.section_bg {
	background-image: url("../img/slider_01.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bg_text {
	color: #666699;
	font-family: 'Comfortaa', cursive;
	font-weight: 600;
	text-align: center;
	background-color: rgba(250, 160, 241, 0.7);
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.bg_text h2 {
	font-size: 48px;
	font-weight: 600;
	overflow: hidden;
}

.bg_text h2:before,
.bg_text h2:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	width: 100%;
	height: 3px;
	background: #666699;

}

.bg_text h2:before {
	margin-left: -100%;
}

.bg_text h2:after {
	margin-right: -100%;
}

.bg_text p {
	font-size: 32px;
}

.top-nav {
	background-color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 200px;
	padding-left: 200px;
}

.top-nav_menu {
	list-style: none;
	padding: 0;
	display: flex;
}

ul li {
	margin-left: 30px;
}

.link {
	letter-spacing: .1em;
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: none;
	color: #686868;
	font-weight: 600;
	position: relative;
	top: 7px;
}

.link:hover {
	text-decoration: none;
	color: #e294f3;
}

.item a.top::before {
  top: 0;
}
.item a::before {
  content: '';
  bottom: 0;
  right: 0;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #e294f3;
  transition: 0.2s;
}
.item a:hover:before {
  width: 100%;
  left: 0;
}

.basket {
	font-size: 18px;
}

.logo img {
	width: auto;
	max-width: 100%;
	max-height: 90px;
	min-width: 140px;
}

.about-slime {
	padding-top: 60px;
	text-align: center;
	color: #3f3f3f;
	padding-bottom: 60px;
}

.about-slime h2 {
	font-size: 32px;
	padding-bottom: 10px;
}

.about-slime h3 {
	font-size: 46px;
	font-weight: 600;
	text-transform: uppercase;
	font-family: 'Comfortaa', cursive;
	padding-top: 40px;
	padding-bottom: 30px;
}

.slime_feature {
	font-size: 72px;
	padding-bottom: 10px;
	color: #FF66CC;
}

.slime_feature:hover {
	color: #FF3399;
}

.slime_fe {
	font-size: 24px;
	color: #666699;
}

.section_about {
	text-align: center;
}

.section_popular {
	text-align: center;
	padding-top: 80px;
	padding-bottom: 100px;
}

.section_popular p {
	color: #333333;
	letter-spacing: .2em;
	font-size: 16px;
	padding-bottom: 80px;
}


.new {
	color: #fff;
	background-color: #FF0066;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 10px;
	font-weight: 200;
	box-shadow: 0 0 5px rgba(255, 0, 102, 0.8);
	margin-left: 3px;
}

.prod_section {
	color: #b0b0b0;
	text-decoration: none;
}

.product-name {
	color: #404040;
	text-decoration: none;
}

.prod_section:hover {
	color: #8c8c8c;
	text-decoration: none;
}

.product-name:hover {
	color: #000;
	text-decoration: none;
}

.card {
	box-shadow: 0 0 6px rgba(0,0,0,0.2);
	margin-bottom: 20px;
}

.card:hover {
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
	transition: 0.2s;
}

.price {
	color: #3399FF;
}

.offer {
	background-image: url("../img/bg_offer.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	width: 100%;
	color: #fff;
	margin-bottom: 100px;
}

.offer h4 {
	font-size: 32px;
	font-family: 'Comfortaa', cursive;
	font-weight: bold;
	padding-bottom: 15px;
}

.offer p {
	font-size: 26px;
	letter-spacing: 2px;
	font-family: 'Comfortaa', cursive;
	font-weight: 200;
	padding-bottom: 35px;
}

.offer span {
	line-height: 1;
}

.offer_text {
	padding-left: 200px;
	padding-top: 150px;
}

.more {
	color: #fff;
	text-decoration: none;
	letter-spacing: 1px;
	font-family: 'Comfortaa', cursive;
	border-bottom: 1px solid #fff;
}

.offer a {
	text-decoration: none;
}

.more:hover {
	color: #FF66CC;
	border-bottom: 1px solid #FF66CC;
	transition: 0.3s;
}

.follow {
	text-align: center;
	font-family: 'Lora', serif;
}

.follow a {
	display: flex;
	justify-content: center;
	text-decoration: none;
}

.follow a:hover {
	text-decoration: none;
}

.follow_instagram {
	color: #bc2a8d;
	list-style: none;
	font-size: 20px;
	border-radius: 50%;
	border: 2px solid #bc2a8d;
	width: 31px;
	height: 31px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.follow_instagram:hover {
	border-color: #FF33FF;
	box-shadow: 0px 0px 10px #FF33FF;
	color: #FF33FF;
	transition: 0.1s;
}

.follow span {
	letter-spacing: .2em;
	text-transform: uppercase;
	font-weight: 100;
	font-size: 11px;
}

.follow h4 {
	padding-top: 15px;
	font-size: 40px;
	padding-bottom: 15px;
}

.follow p {
	padding-top: 20px;
	font-size: 17px;
	padding-bottom: 100px;
}

footer {
	width: 100%;
	height: auto;
	background: #151515;
	text-align: center;
	padding-top: 25px;	
	padding-bottom: 15px;
}

footer ul li {
	margin-left: 15px;
	margin-right: 15px;
}

.social {
	list-style: none;
	padding: 0;
	display: flex;
	width: 450px;
	display: flex;
	justify-content: center;
}
.social a {
	text-decoration: none;
	color: #fff;
	font-size: 16px;
}

.social_item {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 5px solid #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.2s;
}

.facebook:hover {
	border-color: #3333FF;
	box-shadow: 0px 0px 20px #3333FF;
	color: #3333FF;
}

.vk:hover {
	border-color: #0066CC;
	box-shadow: 0px 0px 20px #0066CC;
	color: #0066CC;
}

.instagram:hover {
	border-color: #bc2a8d;
	box-shadow: 0px 0px 20px #bc2a8d;
	color: #bc2a8d;
}

.twitter:hover {
	border-color: #3399FF;
	box-shadow: 0px 0px 20px #3399FF;
	color: #3399FF;
}

footer h5 {
	color: #fff;
	padding-top: 10px;
	cursor: pointer;
}

footer h5:hover {
	color: #FF66CC;
	transition: 0.5s;
}

.wrapper{
    width: 100%;
    background-color: #fff;
    position: relative;
    text-align: center;
    height: 60px;
    font-family: 'Oswald', sans-serif;
    display: none;
    z-index: 5;
}

#check-menu{
    display: none;
}

.mobile_logo {
    width: auto;
    max-width: 100%;
    max-height: 50px;
}

label{
    display: flex;
    align-items: center;
    position: absolute;
    text-align: left;
    padding-left: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    line-height: 40px;
    font-size: 20px;
    color: #66CCFF;
}

.burger-line{
    position: absolute;
    top: 18px;
    right: 10px;
    width: 35px;
    height: 2px;
    background-color: #e294f3;
    transition: .5s all;
}

.link-basket {
	letter-spacing: .1em;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #e294f3;
    font-weight: 600;
    position: relative;
    top: 7px;
}

a.link-basket:hover {
	color: #686868;
	text-decoration: none;
}

.basket_mobile {
	display: flex;
	justify-content: flex-end;
	padding-right: 60px;
	padding-top: 8px;
}

.basket_mobile i {
	font-size: 26px;
}

.second, .third{
    top: 28px;
}

.fourth{
    top: 38px;
}

.main-menu{
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: .5s all;
}

.main-menu a{
    display: block;
    width: 100%;
    padding: 10px;
    color: #686868;
    text-decoration: none;
    border-top: 2px solid #e294f3;
    background-color: #fff;
}

.main-menu a:hover{
    background-color: #e294f3;;
}

#check-menu:checked ~ .main-menu{
    max-height: 500px;
    font-size: 18px;
}

#check-menu:checked ~ .first{
    display: none;
}

#check-menu:checked ~ .second{
    transform: rotate(45deg);
}

#check-menu:checked ~ .third{
    transform: rotate(-45deg);
}

#check-menu:checked ~ .fourth{
    display: none;
}

.feedback {
	margin: 0;
	padding-left: 200px;
	font-family: 'Lora', serif;
	background-color: rgba(0, 0, 0, 0.01);
	padding-top: 25px;
	padding-bottom: 15px;
	margin-bottom: 100px;
}

.feedback input#EmailFeedback.form-control {
	border: 0;
	width: 100%;
	height: 100%;
}

input#EmailFeedback.form-control:focus {
	border: 2px solid rgba(226, 148, 243, 1);
	box-shadow: 0 0 10px rgba(226, 148, 243, 0.1)!important;
	background-color: #f0f0f0;
}

.form-group input:focus::-webkit-input-placeholder {
	color:transparent;
}

.feedback-text {
	padding-bottom: 10px;
}

.feedback-text h2 {
	padding-top: 10px;
}

.checkbox-form {
	margin-top: 50px;
	margin-bottom: 10px;
}

.checkbox-form input[type="checkbox"] {
  display: none;
}
.checkbox-form label {
  padding-left: 0;
  color: #000;
  font-size: 12px;
}
.checkbox-form label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 10px;
  border-radius: 0;
  border: 1px solid #f0f0f0;
  background-color: #f0f0f0;
}

.checkbox-form input[type="checkbox"]:hover + label::before{
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.checkbox-form input[type="checkbox"]:checked + label::before {
  content: '';
  background-size: 70%;
  background-image: url("../img/check_light.png");
  background-repeat: no-repeat;
  background-position: center;
}

.feedback-text span {
	letter-spacing: .2em;
	text-transform: uppercase;
	font-weight: 100;
	font-size: 11px;
	padding-left: 3px;
}

.form-control {
	background-color: #f0f0f0;
	border-radius: 0px;
	padding: 5px 15px;
}

.form-group {
	padding-right: 10px;
	width: 50%;
	height: 40px;
}

.btn-feedback {
	background-color: #e294f3;
	color: #fff;
	width: 50%;
	height: 40px;
	border: 0;
}

/* Author: Denis Likhotin*/

.feedback button:hover {
	background-color: #c66ed4;
	transition: all 0.3s;
}

.form-inline .form-control {
	width: 100%;
}

form.form-inline {
	width: 470px;
}

.form-inline label {
	justify-content: flex-start;
}

@media only screen and (max-width: 1440px) {

.top-nav {
	padding: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 25px;
}

.section_bg {
	height: 450px;
}

}

/* Desktops and laptops -------------------- */
@media only screen and (max-width: 1224px) {


}

/* Laptop ---------------------------------- */
@media only screen and (max-width: 1024px) {


.feedback {
	padding-left: 0;
	text-align: center;
}

.checkbox-form label {
	justify-content: center;
}

.mobile_center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.slider_text {
	font-size: 36px;
}

.slider-img1 {
	height: 500px;
}
.slider-img2 {
	height: 500px;
}
.slider-img3 {
	height: 500px;
}

.top-nav {
	padding: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 15px;
}

.section_bg {
	height: 400px;
}

.offer_text {
	padding-top: 120px;
	padding-left: 150px;
}

.offer_text p {
	width: 650px;
	font-size: 28px;
}

.offer_text h4 {
	font-size: 36px;
}

.more {
	font-size: 18px;
}

}

@media only screen and (max-width: 992px) {
.top-nav .col-lg-auto {
	width: auto;
}

.section_about .row {
	flex-wrap: nowrap;
}

.section_popular .row {
	flex-wrap: nowrap;
}

.new {
	display: none;
}
}

@media only screen and (max-width: 800px) {
.offer_text {
	padding: 0;
	padding-left: 40px;
}

.offer {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.offer .row {
	justify-content: flex-start;
}

}

/* Tablet ---------------------------------- */
@media only screen and (max-width: 768px) {

.slider_text {
	font-size: 32px;
}

.slider-img1 {
	height: 400px;
}
.slider-img2 {
	height: 400px;
}
.slider-img3 {
	height: 400px;
}

.wrapper {
	display: block;
}

.header_menu {
	display: none;
}

.section_popular .container {
	max-width: 720px;

}

.section_bg {
	height: 350px;
}

.section_about .row {
	flex-wrap: nowrap;
}

.slime_fe {
	font-size: 27px;
}

.section_popular .row {
	flex-wrap: nowrap;
}

.new {
	display: none;
}

.offer_text {
	padding-top: 0;
	padding-left: 30px;
}

.offer_text p {
	width: auto;
	font-size: 32px;
}

.offer_text h4 {
	font-size: 40px;
}

.more {
	font-size: 17px;
}

.offer {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.offer .row {
	justify-content: flex-start;
}


}

@media only screen and (max-width: 750px) {
.section_popular .container {
	max-width: 600px;

}

.bg_text {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.bg_text h2 {
	font-size: 32px;
}

.bg_text p {
	font-size: 24px;
}
}

@media only screen and (max-width: 500px) {

.offer_text p {
	font-size: 24px;
}

}

/* Mobile L -------------------------------- */
@media only screen and (max-width: 430px) {


.checkbox-form label {
	justify-content: flex-start;
	font-size: 14px;
}

.form-inline {
	align-items: normal;
}

.bg_text {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.bg_text h2 {
	font-size: 28px;
}

.bg_text p {
	font-size: 18px;
}



.offer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.offer .row {
	justify-content: center;
}

.offer_text {
	padding: 0;
}

.section_about .row {
	flex-wrap: wrap;
}

.section_popular .row {
	flex-wrap: wrap;
}

.section_bg {
	height: 200px;
}

.about-slime {
	padding-top: 25px;
}

.section_popular {
	padding-top: 60px;
	padding-bottom: 30px;
}

.about-slime h2 {
	font-size: 26px;
}

.slime_fe {
	font-size: 27px;
}

.about-slime h3 {
	font-size: 40px;
	padding-bottom: 0;
	padding-top: 40px;
}

.offer_text {
	padding: 0;
	text-align: center;
}

.offer_text p {
	width: auto;
	font-size: 23px;
}

.social_item {
	width: 50px;
	height: 50px;
}

}

/* Mobile M -------------------------------- */
@media only screen and (max-width: 375px) {

.checkbox-form label {
	font-size: 12px;
}

.bg_text {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.bg_text h2 {
	font-size: 24px;
}

.bg_text p {
	font-size: 14px;
}

.slider_text {
	font-size: 24px;
}

.offer_text {
	padding: 0;
	text-align: center;
}

.section_bg {
	height: 150px;
}

.about-slime h2 {
	font-size: 25px;
}

.slime_fe {
	font-size: 23px;
}

.offer_text p {
	width: auto;
	font-size: 22px;
}

}

@media only screen and (max-width: 360px) {

.offer_text p {
	font-size: 18px;
}

}

@media only screen and (max-width: 330px) {
.checkbox-form label {
	font-size: 10px;
}
}

/* Mobile S -------------------------------- */
@media only screen and (max-width: 320px) {

.checkbox-form label {
	font-size: 10.5px;
}

.feedback-text h2 {
	font-size: 24px;
}

.bg_text {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.bg_text h2 {
	font-size: 23px;
}

.bg_text p {
	font-size: 14px;
}

.slider_text {
	font-size: 22px;
}

.slider-img1 {
	height: 200px;
}
.slider-img2 {
	height: 200px;
}
.slider-img3 {
	height: 200px;
}

.offer_text {
	padding: 0;
}

.about-slime h2 {
	font-size: 22px;
}

.about-slime h3 {
	font-size: 36px;
	padding-bottom: 0;
	padding-top: 20px;
}

.offer_text p {
	width: auto;
	font-size: 17px;
}

.offer {
	height: 400px;
}

.social_item {
	width: 45px;
	height: 45px;
}

}

/* Mobile XS ------------------------------- */
@media only screen and (max-width: 300px) {

.social_item {
	border: 3px solid #fff;
}

footer ul li {
	margin-left: 10px;
	margin-right: 10px;

}

.social_item {
	width: 35px;
	height: 35px;
}

.offer_text h4 {
	font-size: 30px;
}

.offer_text p {
	font-size: 16px;
}

}