@import url('https://fonts.googleapis.com/css?family=Comfortaa|Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

html {
	font-size: 14px;
}

body {
	background-color: #fff;
	font-family: 'Oswald', sans-serif;

}

.top-nav {
	background-color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 200px;
	padding-left: 200px;
}

.top-nav_menu {
	list-style: none;
	padding: 0;
	display: flex;
}

ul li {
	margin-left: 30px;
}

.link {
	letter-spacing: .1em;
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: none;
	color: #686868;
	font-weight: 600;
	position: relative;
	top: 7px;
}

.link:hover {
	text-decoration: none;
	color: #e294f3;
}

.item a.top::before {
  top: 0;
}
.item a::before {
  content: '';
  bottom: 0;
  right: 0;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #e294f3;
  transition: 0.2s;
}
.item a:hover:before {
  width: 100%;
  left: 0;
}

.basket {
	font-size: 18px;
}

.logo img {
	width: auto;
	max-width: 100%;
	max-height: 90px;
	min-width: 140px;
}

.section_bg {
	background-image: url("../img/bg_hearts.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;
	width: 100%;
}

.about-slime {
	padding-top: 60px;
	text-align: center;
	color: #3f3f3f;
	padding-bottom: 60px;
}

.about-slime h2 {
	font-size: 32px;
	padding-bottom: 10px;
}

.about-slime h3 {
	font-size: 46px;
	font-weight: 600;
	text-transform: uppercase;
	font-family: 'Comfortaa', cursive;
	padding-top: 40px;
	padding-bottom: 30px;
}

.slime_feature {
	font-size: 72px;
	padding-bottom: 10px;
	color: #FF66CC;
}

.slime_feature:hover {
	color: #FF3399;
}

.slime_fe {
	font-size: 24px;
	color: #666699;
}

.section_about {
	text-align: center;
}

.section_popular {
	text-align: center;
	padding-top: 80px;
	padding-bottom: 100px;
}

.section_popular p {
	color: #333333;
	letter-spacing: .2em;
	font-size: 16px;
	padding-bottom: 80px;
}

.new {
	color: #fff;
	background-color: #FF0066;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 10px;
	font-weight: 200;
}

.prod_section {
	color: #b0b0b0;
	text-decoration: none;
}

.product-name {
	color: #404040;
	text-decoration: none;
}

.prod_section:hover {
	color: #8c8c8c;
	text-decoration: none;
}

.product-name:hover {
	color: #000;
	text-decoration: none;
}

.card {
	box-shadow: 0 0 6px rgba(0,0,0,0.2);
	margin-bottom: 20px;
}

.card:hover {
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
	transition: 0.2s;
}

.price {
	color: #3399FF;
}

.offer {
	background-image: url("../img/bg_offer.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	width: 100%;
	color: #fff;
	margin-bottom: 100px;
}

.offer h4 {
	font-size: 32px;
	font-family: 'Comfortaa', cursive;
	font-weight: bold;
	padding-bottom: 15px;
}

.offer p {
	font-size: 26px;
	letter-spacing: 2px;
	font-family: 'Comfortaa', cursive;
	font-weight: 200;
	padding-bottom: 35px;
}

.offer span {
	line-height: 1;
}

.offer_text {
	padding-left: 200px;
	padding-top: 150px;
}

.more {
	color: #fff;
	text-decoration: none;
	letter-spacing: 1px;
	font-family: 'Comfortaa', cursive;
	border-bottom: 1px solid #fff;
}

.offer a {
	text-decoration: none;
}

.more:hover {
	color: #FF66CC;
	border-bottom: 1px solid #FF66CC;
	transition: 0.3s;
}

.follow {
	text-align: center;
	font-family: 'Lora', serif;
}

.follow a {
	display: flex;
	justify-content: center;
	text-decoration: none;
}

.follow a:hover {
	text-decoration: none;
}

.follow_instagram {
	color: #bc2a8d;
	list-style: none;
	font-size: 20px;
	border-radius: 50%;
	border: 2px solid #bc2a8d;
	width: 31px;
	height: 31px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.follow_instagram:hover {
	border-color: #FF33FF;
	box-shadow: 0px 0px 10px #FF33FF;
	color: #FF33FF;
	transition: 0.1s;
}

.follow span {
	letter-spacing: .2em;
	text-transform: uppercase;
	font-weight: 100;
	font-size: 11px;
}

.follow h4 {
	padding-top: 15px;
	font-size: 40px;
	padding-bottom: 15px;
}

.follow p {
	padding-top: 20px;
	font-size: 17px;
	padding-bottom: 100px;
}

footer {
	width: 100%;
	height: auto;
	background: #151515;
	text-align: center;
	padding-top: 25px;	
	padding-bottom: 15px;
}

footer ul li {
	margin-left: 15px;
	margin-right: 15px;
}

.social {
	list-style: none;
	padding: 0;
	display: flex;
	width: 450px;
	display: flex;
	justify-content: center;
}
.social a {
	text-decoration: none;
	color: #fff;
	font-size: 16px;
}

.social_item {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 5px solid #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.2s;
}

.facebook:hover {
	border-color: #3333FF;
	box-shadow: 0px 0px 20px #3333FF;
	color: #3333FF;
}

.vk:hover {
	border-color: #0066CC;
	box-shadow: 0px 0px 20px #0066CC;
	color: #0066CC;
}

.instagram:hover {
	border-color: #bc2a8d;
	box-shadow: 0px 0px 20px #bc2a8d;
	color: #bc2a8d;
}

.twitter:hover {
	border-color: #3399FF;
	box-shadow: 0px 0px 20px #3399FF;
	color: #3399FF;
}

footer h5 {
	color: #fff;
	padding-top: 10px;
	cursor: pointer;
}

footer h5:hover {
	color: #FF66CC;
	transition: 0.5s;
}